Django==1.9.6
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
backports.shutil-get-terminal-size==1.0.0
coverage==4.0.3
decorator==4.0.9
django-cors-headers==1.1.0
django-nose==1.4.3
djangorestframework==3.3.3
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
jsonfield==1.0.3
nose==1.3.7
oauthlib==1.1.1
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pytest==2.9.1
requests==2.10.0
requests-oauthlib==0.6.1
simplegeneric==0.8.1
traitlets==4.2.1
