description "qwergamapi"

start on (filesystem)
stop on runlevel [016]

respawn
setuid nobody
setgid nogroup
chdir "{{ django_home }}"
env EMAIL_HOST="{{ EMAIL_HOST }}"
env EMAIL_PORT="{{ EMAIL_PORT }}"
env EMAIL_ADDR="{{ EMAIL_ADDR }}"
env EMAIL_PASS="{{ EMAIL_PASS }}"
env DEBUG_MODE="{{ DEBUG_MODE }}"
env SECRET_KEY="{{ SECRET_KEY }}"

env DB_IDENTITY="{{ DB_IDENTITY }}"
env DB_USERNAME="{{ DB_USERNAME }}"
env DB_PASSWORD="{{ DB_PASSWORD }}"
env DB_PORT="{{ DB_PORT }}"
env DB_HOST="{{ DB_HOST }}"
exec python manage.py runserver 127.0.0.1:8000
